/* reset */
body
{ margin: 0;
padding: 0;
line-height: 130%;
font-family:Arial, Helvetica, sans-serif;
font-size: 13px;
background: #000033;
}
ul, li
{
list-style: none;
list-style-type: none;
padding: 0;
margin: 0;
}
li a{text-decoration: none;}
a {color:green;}
img{vertical-align: middle;}
/* end reset */
.status
{
background: #222; color:#FFFFFF; font-weight:bold;
width: 90%;
}
.body_width
{
width: 80%;
margin: 0 auto;
float: none;
width: 890px;
padding: 0 45px;
}
.msg { text-align: center; border:
solid 1px #fc0; background-color:
#EFEF00; -webkit-border-radius: 0.3em;
border-radius: 0.3em; margin: 6px;
padding: 6px; }
}
.left { }
.d_board a
{ color: #ffffff; }
.page_wrapper
{ border-right: 1px solid #EEE;
border-left: 1px solid #EEE;
padding: 4px;
background: #ddf;
color:#000033;
}


.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/***********************************************************************************
GRID
***********************************************************************************/
.middle
{
min-width:510px;
border: 1px solid #000033;
padding: 3px;
}
.grid1, .grid2, .grid3{
float: left;
position: relative;
text-align: center;
}
.grid1{
margin: 0 auto;
float: none;
width: 880px;
padding: 0;
margin-top:5px;
margin-bottom:5px;
}
.grid2{
width: 440px;
}
.grid3, .left-grid, .right-grid{
width: 180px;
}
.border
{
border: 0px solid #CCC;
}
.border-first
{
border-right: 1px solid #CCC;
min-height: 100%;
}
.border-last
{
border-left: 1px solid #CCC;
min-height: 100%;
}
/* Forms */
form ul{
list-style: none;
margin: 0;
padding: 0;
}
form ul li{
padding: 5px 0;
}
form label{
display: block;
}
label span{
color: #0795d0;
font-size: 10px;
padding-left: 5px;
}
label span .error{
color: #FF0000;
font-size: 10px;
padding-left: 5px;
}
form input, form textarea{
border: solid 1px #000000;
padding: 8px;
background: #FFF;
min-width:;
}

form textarea{

}
form .error
{
border: solid 1px #FF0000;
}
input[type=submit]{
background: #0795d0;
padding: 6px 22px;
font-weight: bold;
color: #FFF;
border: none;
}
input[type=submit]:hover{
background: #333;
text-decoration: none;
}
#main a.button{
padding: 8px 22px !important;
}

.d_board
{
border: 1px solid #EEE;
border-bottom:none;
border-radius: 7px 7px 7px 7px;
background:#4863A0;
margin: 0;
margin-bottom: 0px;
}

.d_board_left
{
float: left;
}

.d_board_right
{
float: right;
}

.breadcrumb A:link
{
margin-top: 0px;
margin-left: 5px;
margin-right: 5px;
border: 1px solid #000033;
border-top: none;
padding: 5px;
background:#EFEF00;
}

.error
{
background-color: #ffebe8;
color: #000;
font-weight:;
border:1px solid #dd3c10;
padding: 4px;
margin-top: 3px;
}

.site_alert
{
background-color: #330066;
color: #000;
font-weight:;
border:1px dotted #FF3300;
padding: 4px;
margin-top: 3px;
font-size: 11px;
}

.music_list
{
text-transform: uppercase;
font-weight: bold;
text-decoration: underline;
}

.info_post
{
background-color: #ffebe8;
color: #000;
font-weight:;
border:1px solid #4863A0;
padding: 4px;
margin-top: 3px;
}

.dashboard_links
{
text-align: center;
margin-top: 12px;
margin: 0 auto;
}

.dashboard-links li
{
height:80px;
border:1px solid #4863A0;
padding:15px;
background: #ddf;
font-size:11px;
line-height:1.4em;
text-decoration:none;
color:#FFF;
margin-bottom: 5px;
display: block;
}

.dashboard-links li:hover
{
background: #EFEF00;
}

.dashboard-links li a
{
text-decoration: none;
display: block;
color:#4863A0;
}

.dashboard_button_heading
{
text-align: center;
font-size:14px;
padding: 2px;
margin: 2px;
display:block;
line-height:29px;
height:35px;
}

.dashboard_button_heading
{
font-weight: bold;
}


.b_head
{
background: #000033 url("../image/b_head.png") repeat-x;
padding: 8px;
font-weight:bold;
color:#ffffff;
margin-bottom: 3px;
border:0px;
text-transform: uppercase;
}

.previous-messages
{
border-bottom: 1px dotted #ccc;
padding: 5px;
font-weight: bold;
background: #ffff00;
color: red;
}

.message-thread
{
border-bottom: 1px dotted #ccc;
padding: 5px;
text-align: left;
}

/**************** LIST ITEMS ************************/
div.file-list
{

}
div.file-list ul
{

}

ul.arrow-list li
{
margin-left:0px;
background: url(../image/arrow_list.png) no-repeat scroll 0 14px transparent;
padding:0 0 2px 10px;
list-style:none;
}

div.file-list ul li
{
border: 2px solid #000033;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
text-align:left;
margin-bottom: 5px;
display: block;
}
div.file-list ul li a
{
text-decoration: none;
}

.file-info ul li
{
margin-bottom: 3px;
margin-top: 3px;
text-align: left;
padding: 5px;
border: 1px solid #003300;
}

ul.file-cat-list
{

}

ul.file-cat-list li
{
padding: 10px;
border: 2px solid #000033;
margin-bottom: 3px;
}

div.user-list ul
{

}
div.user-list ul li
{
border: 2px solid #009900;
background:;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 3px;
text-align: center;
margin-bottom: 5px;
display: block;
}
div.user-list ul li a
{
text-decoration: none;
}

ul.message-list li
{
padding: 5px;
background: none;
border: 1px solid #000033;
border-radius: 5px;
text-align: left;
margin-bottom: 4px;
}
ul.message-list ul li a
{
text-decoration: none;
}

div.user-info li
{
padding: 5px;
background: none;
border: 1px solid #000033;
border-radius: 5px;
text-align: left;
margin-bottom: 4px;
}
div.list ul li
{
padding: 30px;
background:#ddf;
color:#FFFFFF;
border: 2px solid #000033;
margin: 5px;
}
div.list ul li a
{
text-decoration: none;
}

div.forum-list ul li
{
border: 1px solid #000033;
background:;
padding:;
text-align:left;
margin-bottom: 5px;
border-radius:5px;
}
div.forum-list ul li table td
{
border: 0px solid #009900;
background:;
padding: 4px;
text-align:left;
border-radius: 4px;
}
div.forum-list ul li .post-head
{
background: #000033;
margin: 0;
font-weight: bold;
padding: 4px;
}

div.forum-list ul li a
{
text-decoration: none;
}

div.thread-list ul li
{
border-bottom: 1px dotted #AAA;
background:;
padding:;
text-align:left;
margin-bottom: 5px;
border-radius:5px;
}

div.thread-list ul li .thread-head
{
padding: 5px;
background:;
}

div.thread-list ul li .thread-head span.thread_title a
{
text-transform: uppercase;
color: #FF0000;
}

div.thread-list ul li .thread-extra
{
padding: 5px;
padding-top: 10px;
padding-bottom: 10px;
background: #EFEF00;
border-radius: 5px;
}

div.tutorial-list li
{
border: 2px solid #000033;
background:;
padding: 5px;
text-align:left;
margin-bottom: 10px;
border-radius:5px;
font-weight: bold;
}

div.tutorial-list li .tutorial-header
{
background:;
padding: 6px;
text-align: center;
font-weight: bold;
}

div.tutorial-list li .tutorial-detail
{
background:;
padding: 6px;
text-align: center;
font-weight: normal;
}

div.tutorial-list li .tutorial-image
{
background:;
padding: 6px;
text-align: center;
font-weight: normal;
}

/* tutorial comment */

.tutorial-topic-content
{
padding: 7px;
line-height: 160%;
}
.tutorial-comment-holder
{
margin-bottom: 10px;
}
.tutorial-comment-info
{
background: #ddf;
padding: 5px;
text-align: left;
border-radius: 5px;
}
.tutorial-comment
{
border: 0px solid #007700;
border-bottom: 1px dotted #999;
border-radius: 5px;
padding: 5px;
padding-top: 2px;
margin-bottom: 5px;
}
.tutorial-comment-text
{
padding: 10px;
text-align:left;
overflow: auto;
padding-top: 2px;
}
/***************************************/
div.fbt-category-list li
{
border: 2px solid #009900;
background:;
padding: 5px;
text-align: center;
margin-bottom: 10px;
border-radius:5px;
font-weight: bold;
}

div.fbt-category-list li .fbt-category-header
{
background:;
padding: 6px;
text-align: center;
font-weight: bold;
}

div.fbt-category-list li .fbt-category-detail
{
background:;
padding: 6px;
text-align: center;
font-weight: normal;
}

div.fbt-topic-list li
{
border: 2px solid #009900;
background:;
padding: 5px;
text-align: left;
margin-bottom: 10px;
border-radius:5px;
font-weight: bold;
}

div.fbt-topic-list li .fbt-topic-header
{
background:;
padding: 6px;
text-align: left;
font-weight: bold;
}

div.chat-room-list li
{
border: 2px solid #000033;
background:;
padding: 5px;
text-align: center;
margin-bottom: 10px;
border-radius:5px;
font-weight: bold;
}

div.chat-list li
{
border: 1px solid #000033;
background:;
padding: 5px;
text-align: center;
margin-bottom: 2px;
font-weight: bold;
text-align: left;
}
div.chat-list li span
{
font-weight: normal;
}
/* ******
*****   END LIST ITEMS ***************
************/

.message-view
{
padding: 8px;
border: 1px solid #000033;
border-radius: 5px;
text-decoration: none;
}
.message-view a
{
text-decoration: none;
}
.tutorial_head
{
background:#4863A0;
text-decoration: underline;
padding: 8px;
color:#ffffff;
}

.social_button
{
background:#003300;
vertical-align:middle;
padding: 8px;
}
.tutorial_info
{
background:#DDD;
padding: 8px;
font-weight:bold;
color:#000000;
position:relative;
}
.tutorial_info a
{
text-decoration: none;
color: #990000;
}
.tutorial_info .left, .tutorial_info .right
{
float: none;
display: block;
}
.tutorial_info .left
{
width: 30%;
float:left;
}
.tutorial_info .right
{
width: 40%;
float:right;
}
/* FBT TOPIC */
.fbt-topic-head
{
background:#003300;
padding: 8px;
font-weight:bold;
text-transform: uppercase;
text-decoration:underline;
}
.fbt-topic-info
{
background:#DDD;
padding: 8px;
font-weight:bold;
color:#000000;
position:relative;
text-transform: uppercase;
}
.fbt-topic-info a
{
text-decoration: none;
color: #990000;
}

/*end FBT TOPIC */

/* fbt comment */
.comment_header
{
background: #000033;
margin: 2px;
padding: 4px;
text-align: left;
}
.fbt-topic-content
{
padding: 7px;
line-height: 160%;
}
.fbt-comment-holder
{
margin-bottom: 10px;
}
.fbt-comment-info
{
background: #000000;
padding: 5px;
text-align: left;
border-radius: 5px;
}
.fbt-comment
{
border: 0px solid #007700;
border-bottom: 1px dotted #999;
border-radius: 5px;
padding: 5px;
padding-top: 2px;
margin-bottom: 5px;
}
.fbt-comment-text
{
padding: 10px;
text-align:left;
overflow: auto;
padding-top: 2px;
}
/* end fbt comment */
/*  thread */
#post-head
{
background:#EFEF00;
text-decoration: none;
text-transform:uppercase;
font-weight: bold;
padding: 8px;
}
#post-info
{
background:#EFEF00;
padding: 8px;
font-weight:bold;
color:#000033;
position:relative;
}
#post-info2
{
background:#000033;
padding: 8px;
font-weight:bold;
color:#ffffff;
position:relative;
}
#post-info a
{
text-decoration: none;
color: #990000;
}
#post-info .left, #post-info .right
{
float: none;
display: block;
}
#post-info .left
{
width: 30%;
float:left;
}
#post-info .right
{
width: 40%;
float:right;
}

#main-post
{
border: 1px solid #000033;
padding: 7px;
margin-bottom: 5px;
margin-top: 5px;
text-align: left;
}

#posts
{
border-bottom: 1px dotted #AAA;
padding: 7px;
margin-bottom: 5px;
margin-top: 5px;
text-align: left;
}

/* end thread */
div.link-button
{
border: 1px solid #003300;

}
div.link_button a
{
background: #000033;
color:#fff;
text-decoration: none;
padding: 10px;
min-width: 80px;
clear: both;
display:block;
margin-bottom: 5px;
}

div.download_button
{
border: 1px solid #003300;
text-align: center;
}
div.download_button a
{
background: #EFEF00;
color:#000033;
text-decoration: none;
padding: 10px;
width: auto;
clear: both;
display: inline-block;
margin-bottom: 5px;
}

.public_message
{
padding: 5px;
border: 2px solid #993300;
background:#EFEF00;
color:#993300;
font-weight: bold;
text-align: center;
margin: 5px;
border-radius: 10px;
}

.m_login
{
border-left: 1px solid #CCC;
}


/* pre */
.p_12{ padding: 12px;}
.p_6{padding: 6px;}
.p_bottom_6{padding-bottom: 6px;}

/* end pre */

#header { height:121px; background: ##000033; color: #FFF;}
#header .wrapper{ color: #FFFFFF;}
#header .wrapper div{ font-size:60px; font-weight:bold; padding-top: 20px; font-style: italic;}
#header .wrapper div.sub{ font-size:18px; font-weight:bold;margin-top:10px; margin-left: 300px; opacity: 0.9}
.shell { width:980px; margin:0 auto; }
#footer { height:92px; background:url(http://localhost/campusloaded/bt.jpg); color:#EEE; margin-top: 4px;}
#footer .shell{ padding-top:16px;}
#footer .footer_nav { white-space:nowrap; font-size:14px; text-align: center;}
#footer .footer_nav span{ padding:0 1px;}
#footer .footer_nav a{ text-decoration: none; color:#E6ED44;}
#footer .footer_nav a:hover{ color:#f6cb44;}

.tweak-info ul li
{
margin-bottom: 3px;
font-weight: bold;
margin-top: 3px;
text-align: center;
padding: 5px;
color: #00ff00;
}

.tweak-info span
{
color: #fff;
}

.list-2 ul li
{
margin-bottom: 3px;
font-weight: bold;
margin-top: 3px;
text-align: center;
border: 1px solid #090;
padding: 5px;
color: #00ff00;
}

a.button{ display: block; width: 100px; text-align: center; padding: 5px; border: 1px solid rgb(0, 170, 0); text-decoration: none; margin: 3px;}

#site-alert
{
background: #000033;
padding: 10px;
margin-bottom: 10px;
font-size: 12px;
}

#site-alert h3
{
padding: 1px;
margin: 1px;
color: #f00;
font-size: 12px;
}

#site-alert span.prefix
{
font-size: 12px;
}

#site-alert ul li
{
border-bottom: 1px dotted #fff;
padding: 5px;
}

/* Forum Updated */
.post-detail
{
float: left;
width: 110px;
border-right: 1px solid #060;
text-align: center;
font-weight: bold;
}

.post-content
{
float: left;
width: 370px;
margin-left: 5px;
}
